scikit-learn
parallel-wavegan
fastdtw
pyworld
pysptk
jiwer
resemblyzer
git+https://github.com/tarepan/extorch.git
git+https://github.com/tarepan/speechdatasety.git
git+https://github.com/tarepan/speechcorpusy.git@main
